bin/
obj/
packages/
Build/
.vs/

_ReSharper.*
*.user
*.suo
*~
*.swp
*.orig
*.nupkg
*.received.txt
*.crunchproject.local.xml
*.crunchsolution.local.xml
*.cache
*.userprefs

.DS_Store
TestResult.xml
project.lock.json
tools/Cake/
tools/gitversion.commandline/
